/* Ajuste de cores para o tema mais frio */
body {
    background-color: #f2f2f2; /* Cinza claro */
  }
  
  /* Aplicando estilos ao header */
  .home-container header {
    background-color: #333; /* Cinza escuro */
    padding: 20px;
    text-align: center;
  }
  
  .home-container header nav a {
    color: #555; /* Cinza médio */
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
  }
  
  .home-container header nav a:hover {
    color: #fff;
    background-color: #444; /* Cinza mais escuro */
  }
  
  .home-container header nav {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  /* Outros estilos */
  .hero-section {
    position: relative;
    text-align: center;
    color: white;
    background: #333; /* Cinza escuro */
    padding: 100px 20px;
  }
  
  .features-section,
  .about-section,
  .tech-section,
  .testimonials-section {
    padding: 40px 20px;
    text-align: center;
    background-color: #e6e6e6; /* Cinza muito claro */
  }
  
  .feature-card {
    background-color: #fff; /* Branco */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .feature-card:hover {
    transform: translateY(-10px);
  }
  
  .home-footer {
    background-color: #333; /* Cinza escuro */
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  